@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

body{
  font-family: 'Inter';
}

*{
  margin: 0;
  padding: 0;
}

img{
  max-width: 100%;
}

body{
  background-color: hsl(233, 47%, 7%);
  color: white;
}

.everthing{
  display: flex;
  max-width: 1110px;
  margin: auto;
  position: absolute;
  top: 20%;
  left: 18%;
}

.stats-section{
  background-color: hsl(244, 38%, 16%);
  display: flex;
}

.stats-wrapper{
  padding: 64px 120px 64px 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-text{
  font-size: 38px;
  line-height: 1.2;
  font-family: 'Inter', sans-serif;
}

.heading-span{
  color: #A25FD2;
}

.stats-p{
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 16px;
  line-height: 1.8;
  padding-bottom: 40px;
}

.numbers{
  display: flex;
  justify-content: space-between;
}

.stat-num{
  font-size: 24px;
}

.stat-name{
  font-size: 16px;
  color: hsla(0, 0%, 100%, 0.75);
}
